services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_BASE_API_URL: ${VITE_BASE_API_URL}
    container_name: our-pharmacy-frontend
    restart: unless-stopped
    ports:
      - "80:80"